:root {
    --dark-blue-main-bg: hsl(217, 54%, 11%);
    --dark-blue-card-bg: hsl(216, 50%, 16%);
    --dark-blue-line: hsl(215, 32%, 27%);
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --white: hsl(0, 0%, 100%);
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
}

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; 
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important;  
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;        
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Outfit', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-blue-main-bg);
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: var(--dark-blue-card-bg);
    max-width: 21rem;
    border-radius: 1rem;
    padding: 1rem;
    -webkit-box-shadow: 10px 10px 19px 1px rgba(0,0,0,0.61);
    -moz-box-shadow: 10px 10px 19px 1px rgba(0,0,0,0.61);
    box-shadow: 10px 10px 19px 1px rgba(0,0,0,0.61);
}

.card > * {
    padding: 5px;
}

.nft-img {
    border-radius: 1rem;
}

.img {
    position: relative;
}

.img div {
    position: absolute;
    background-color: hsl(178, 100%, 50%, 0.4);
    top: 0;
    width: 98%;
    height: 99%;
    opacity: 0;
    border-radius: 1rem;
}

.img div:hover {
    opacity: 1;
}

.img div img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

h3 {
    color: var(--white);
    font-weight: 600;
    font-size: 1.3rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

h3:hover {
    cursor: pointer;
    color: var(--cyan);
}

p {
    color: var(--soft-blue);
    font-size: 1.1rem;
    line-height: 1.5rem;
}

.creator {
    display: flex;
    gap: 1rem;
    padding-top: 1rem;
    align-items: center;
}

.price {
    display: flex;
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    justify-content: space-between;
    border-bottom: 1px solid var(--dark-blue-line);
}

.flex {
    display: flex;
    gap: 6px;
    align-items: center;
}

.flex p {
    font-size: 15px;
}

.flex img {
    height: 14px;
}

.ethereum {
    color: cyan;
    font-weight: 600;
}

.creator img {
    border: 1px solid var(--white);
    border-radius: 50%;
    width: 2rem;
}

.creator > * {
    font-size: .9rem;
}

span {
    color: var(--white);
}

span:hover {
    cursor: pointer;
    color: var(--cyan);
}

@media (max-width:440px) {
    body{
        padding: 20px;
    }
}